body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #80aaff;
	font-size: 100%;
    font-family: serif;
}

header,
main,
footer {
	background-color: white;
	font-size: 115%;
}

header {
	padding: 1.875em 0;
}

h1 {
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: 300%;
}

p {
    padding: 3em;
    font-size: 0.90em;
}

h1, h2, h3 {
	margin: 0;
    padding: 0 .5em;
}

figure {
    font-size: 85%;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

p.stress {
    font-style: italic;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.80em;
}
